.profile-container {
    max-width: 600px;
    margin: 2rem auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  }
  
  .profile-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .profile-container form {
    display: grid;
    grid-gap: 10px;
  }
  
  .profile-container label {
    font-weight: bold;
  }
  
  .profile-container input[type="text"],
  .profile-container input[type="email"],
  .profile-container input[type="tel"],
  .profile-container textarea,
  .profile-container select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .profile-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 10rem;
    margin:0 auto;
  }
  
  .profile-container button:hover {
    background-color: #0056b3;
  }
  @media (max-width:600px){
    .profile-container {
      margin-top: 60px;
  
    }
  }